---
layout: default
---

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% endif %}

{% if page.url != "/" and site.breadcrumbs %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}

<div id="main" role="main">
  {% include sidebar.html %}

  <div class="archive">
    {% unless page.header.overlay_color or page.header.overlay_image %}
      <h1 class="page__title">{{ page.title }}</h1>
    {% endunless %}
    {{ content }}
  </div>
</div>

<article class="post-card post no-image">
    <div class="post-card-content">
        <a class="post-card-content-link" href="writting-my-first-article/">
            <header class="post-card-header">
                <h2 class="post-card-title">Writting my first article</h2>
            </header>
            <section class="post-card-excerpt">
                <p>Testing my second deploy on Github pages.</p>
            </section>
        </a>
        <footer class="post-card-meta">

            <ul class="author-list">
                <li class="author-list-item">

                    <div class="author-name-tooltip">
                        Fernando Paladini
                    </div>

                        <a href="author/fernando/" class="static-avatar"><img class="author-profile-image" src="http://www.gravatar.com/avatar/7c4f0c147367fcea20b3f58fd6a8d9a6?s=250&amp;d=mm&amp;r=x" alt="Fernando Paladini"></a>
                </li>
            </ul>

            <span class="reading-time">1 min read</span>

        </footer>
    </div>
</article>
